html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 28px;
}

*{
    font-family: 'Dosis', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.slider img{
  max-width: 90%
  
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: lightgray;
}

.active {
  background-color: gray;
}

.container{
  max-width: 980px;
  margin: 0 auto;
}

.slider .slide{
  text-align: center;
  display: none;
}

.slider .slide.ativo{
  display: block;
}

.card{
  display: flex;
  justify-content: space-around;

}

.card-img-center{
  max-width: 100%;
  height:450px;
  object-fit: cover;
}

